.list-group {
	overflow: scroll;
	overflow-x: hidden;
}

.list-left {
	max-height: calc(100vh - 203px);
}

.list-right {
	max-height: calc(100vh - 174px);

}

.container-fluid {
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

.selected-event {
	border-width: 2px;
	border-color: black !important;
}
